
<h1>Stupid coaching</h1>

<div class="question">
  <%= params[:question] %>
  <h3>- You </h3>
</div>

<div class="answer">
  <%= @answer %>
  <h3>- Your coach </h3>
</div>

<%=  link_to "Ask new question to your coach", ask_path %>
